# Ignore environment variable files
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
env/
ENV/
.venv/